
.inflorescenceColor {
    background-color: #fde9d9;
}

.floweringColor {
    background-color: #e26b0a;
}

.seedsRipeningColor {
    background-color: #f1c232;
}

/* .sapMBtnIcon {
    width: 2.125rem;
    font-size: 0.6rem;
    line-height: 2.125rem;
} */
/* sapMBtnIcon */
.tinyButton.sapMBtn {
    height: 1.65rem; /* default: 2.75rem; */
}
.tinyButton .sapMBtnInner {
    height: 1.35rem; /* default: 2.25rem; */
    min-width: 1.35rem; /* default: 2.25rem; */
    width: 1.35rem /* no default; */
}
.tinyButton .sapMBtnIcon {
    /* height: 5rem; */
    font-size: 0.6rem; /* default: 1rem; */
    line-height: 1.275rem; /* default: 2.125rem; */
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?2o8wr7');
    src:  url('fonts/icomoon.eot?2o8wr7#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?2o8wr7') format('truetype'),
      url('fonts/icomoon.woff?2o8wr7') format('woff'),
      url('fonts/icomoon.svg?2o8wr7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-rose-flower-heart-svgrepo-com:before {
    content: "\e900";
  }
  .icon-pollen-dust-svgrepo-com:before {
    content: "\e901";
  }
  