

/* .inflorescenceColor {
    background-color: #fde9d9;
}

.floweringColor {
    background-color: #e26b0a;
}

.seedsRipeningColor {
    background-color: #f1c232;
} */


/* Flower History */
.flowering_state_cell[data-flowering_state='flowering'] {
  background-color: #e26b0a;
}

.flowering_state_cell[data-flowering_state='seeds_ripening'] {
  background-color: #f1c232;
}

.flowering_state_cell[data-flowering_state='inflorescence_growing'] {
  background-color: #fde9d9;
}

.flowerHistoryCurrentMonth {
  background-color: #f9ebe1;
  /* outline: thick solid #00ff00; */
}

/* //todo remove
.flowering_state_cell[data-flowering_state='not_flowering'] {
  background-color: #fde9d9;  
} */




/* Pollination Boxes */

.ongoingPollinationStatus[data-pollination_status='attempt'] {
  background-color: rgb(220, 223, 225);
}

.ongoingPollinationStatus[data-pollination_status='seed_capsule'] {
  background-color: #dfbfa5;
}

.formatByOngoing[data-is_ongoing="false"] {
  /* boolean somehow does not work, as a workaround, we convert to string in the app.view  */
  background-color: #a4a1a2;
  background: repeating-linear-gradient(
    45deg,
    #bec6f9,
    #bec6f9 10px,
    rgb(232, 233, 239) 10px,
    rgb(232, 233, 239) 20px
  );
  /* width: 2.125rem;
  font-size: 0.6rem;
  line-height: 2.125rem; */
  /* color:aqua; */
}

.formatBySeedPlantingStatus[data-seed_planting_status="planted"] {
  background-color: rgb(220, 223, 225);
  border-radius: 5px;
  border: 2px solid #d3d3d3;
  padding: 5px;
  margin-block-end: 0.3rem;
}

.formatBySeedPlantingStatus[data-seed_planting_status="germinated"] {
  background-color: #dbf9db;
  border-radius: 5px;
  border: 2px solid #d3d3d3;
  padding: 5px;
  margin-block-end: 0.3rem;
}

.formatBySeedPlantingStatus[data-seed_planting_status="abandoned"] {
  background-color: #a4a1a2;
  background: repeating-linear-gradient(
    45deg,
    #bec6f9,
    #bec6f9 10px,
    rgb(232, 233, 239) 10px,
    rgb(232, 233, 239) 20px
  );
  border-radius: 5px;
  border: 2px solid #d3d3d3;
  padding: 5px;
  margin-block-end: 0.3rem;
}

/* .sapMBtnIcon {
    width: 2.125rem;
    font-size: 0.6rem;
    line-height: 2.125rem;
} */
/* sapMBtnIcon */
.tinyButton.sapMBtn {
    height: 1.65rem; /* default: 2.75rem; */
}
.tinyButton .sapMBtnInner {
    height: 1.35rem; /* default: 2.25rem; */
    min-width: 1.35rem; /* default: 2.25rem; */
    width: 1.35rem /* no default; */
}
.tinyButton .sapMBtnIcon {
    /* height: 5rem; */
    font-size: 0.6rem; /* default: 1rem; */
    line-height: 1.275rem; /* default: 2.125rem; */
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?2o8wr7');
    src:  url('fonts/icomoon.eot?2o8wr7#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?2o8wr7') format('truetype'),
      url('fonts/icomoon.woff?2o8wr7') format('woff'),
      url('fonts/icomoon.svg?2o8wr7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-rose-flower-heart-svgrepo-com:before {
    content: "\e900";
  }
  .icon-pollen-dust-svgrepo-com:before {
    content: "\e901";
  }
  